<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template :: placeholder(~{::title}, ~{::main}, ~{::#jscript})}">
<head>
    <title>Tüm Yazarlar</title>
</head>
<body>
<main class="container mt-5">
    <h2 class="fs-2 pb-2 text-secondary">Tüm Yazarlar:</h2>
    <div class="shadow p-3 my-5 rounded text-center bg-info"
         th:if="${#lists.isEmpty(allAuthors)}">
        <p class="fs-3 text-dark">Yazar kaydı bulunamadı...
        <p>
    </div>
    <table class="table table-striped table-secondary table-hover table-bordered border-dark align-middle mt-3"
           th:unless="${#lists.isEmpty(allAuthors)}">
        <thead class="text-center">
        <tr class="table-dark">
            <th>#</th>
            <th>Yazarın Adı</th>
            <th>Kitap Sayısı</th>
            <th>Açıklama</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author, authorStat : ${allAuthors}">
            <td th:text="${authorStat.index + 1}">1</td>
            <td th:text="${author.fullName}">yazar adı</td>
            <td th:text="${#lists.size(author.books)}" class="text-center">kitap sayısı</td>
            <td th:text="${author.explanation}" style="width: 35%">yazar açıklaması</td>
            <td class="text-center" style="width: 25%">
                <a th:id="${author.id}"
                   th:class="'btn btn-success show-books-btn ' + ${(#lists.size(author.books) == 0)? 'disabled': ''}"
                   href="#" data-bs-toggle="modal" data-bs-target="#bookList">
                    Kitapları</a>
                <a class="btn btn-secondary" th:href="|/authors/${author.id}/update|">Güncelle</a>
                <a th:class="'btn btn-danger ' + ${(#lists.size(author.books) > 0)? 'disabled': ''}"
                   th:href="|/authors/${author.id}/delete|">Sil</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="modal fade" tabindex="-1" id="bookList">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Yazarın Kitapları:
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul id="modelBookList">

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script id="jscript" th:src="@{/script/author-script.js}"></script>
</body>
</html>