<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template :: placeholder(~{::title}, ~{::main}, ~{})}">
<head>
    <title>Kitap Detayları</title>
</head>
<body>
<main class="container mt-5">
    <h2 class="fs-2 pb-2 text-secondary">Kitap Detayı:</h2>
    <table class="table table-light table-bordered border-primary align-middle mt-3">
        <tbody>
        <tr>
            <td class="table-primary border-primary">Kitap adı</td>
            <td th:text="${book.title}">kitap adı</td>
            <td class="table-primary border-primary">ISBN</td>
            <td th:text="${book.isbn}">alt adı</td>
        </tr>
        <tr>
            <td class="table-primary border-primary">Kitap alt adı</td>
            <td th:text="${book.subtitle}"></td>
            <td class="table-primary border-primary"
                th:text="${#lists.size(book.authors) > 1 ? 'Yazarları' : 'Yazarı'}">yazar
            </td>
            <td>
                <th:block th:each="author : ${book.authors}">
                    <span th:text="${author.fullName}">yazar adı</span><br>
                </th:block>
            </td>
        </tr>
        <tr>
            <td class="table-primary border-primary">Kitap seri adı</td>
            <td th:text="${book.series}">seri adı</td>
            <td class="table-primary border-primary">Yayınevi</td>
            <td th:text="${book.publisher.name}">yayınevi adı</td>
        </tr>
        <tr>
            <td class="table-primary border-primary">Açıklama</td>
            <td colspan="3" th:text="${book.explanation}">açıklama</td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>