<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template :: placeholder(~{::title}, ~{::main}, ~{::#jscript})}">
<head>
    <title>Kitap Ekle</title>
</head>
<body>
<main class="container bg-body p-3 mt-3 mb-5 shadow rounded">
    <h2 class="fs-2 bg-secondary rounded p-2 text-light">Yeni Kitap Girişi:</h2>
    <form th:action="@{/books/new}" method="post" th:object="${newBook}">
        <div class="row my-3">
            <div class="col">
                <label for="bookTitle" class="form-label">Kitap adı: </label>
                <input type="text" class="form-control" id="bookTitle" th:field="*{title}" placeholder="Yeni kitap">
            </div>
            <div class="col">
                <label for="bookSubtitle" class="form-label">Kitap alt adı: </label>
                <input type="text" class="form-control" id="bookSubtitle" th:field="*{subtitle}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="bookSeries" class="form-label">Kitap Seri Adı: </label>
                <input type="text" class="form-control" id="bookSeries" th:field="*{series}">
            </div>
            <div class="col">
                <label for="bookIsbn" class="form-label">ISBN: </label>
                <input type="text" class="form-control" id="bookIsbn" th:field="*{isbn}">
            </div>
        </div>

        <div class="row mb-3 border border-secondary border-3 rounded p-2">
            <label for="bookAuthorsSelect" class="form-label">Yazar Seçimi: </label>
            <div class="input-group mb-4">
                <select class="form-select" id="bookAuthorsSelect">
                    <option selected value="-1">Mevcut Yazarlar</option>
                    <option th:each="author : ${allAuthors}"
                            th:text="${author.fullName}"
                            th:value="${author.explanation}">yazar
                    </option>
                </select>
                <button id="addAuthorFromSelect" class="btn btn-outline-primary" type="button">
                    Yazar Listesine Ekle
                </button>
            </div>

            <div id="newAuthorList" class="border-top border-secondary border-2 p-2 mb-1">
                <!-- new author row -->
                <div class="row mb-3 author-row" th:each="author, authorStat : ${authorListForNewBook}">
                    <div class="col">
                        <label class="form-label">Yazar İsmi: </label>
                        <input type="text" class="form-control author-name-input"
                               th:field="*{authors[__${authorStat.index}__].fullName}">
                    </div>
                    <div class="col">
                        <label class="form-label">Yazar Açıklaması: </label>
                        <input type="text" class="form-control author-exp-input"
                               th:field="*{authors[__${authorStat.index}__].explanation}">
                    </div>
                    <div class="col align-self-end">
                        <button class="btn btn-primary author-add-btn" type="button">Yeni Ekle</button>
                        <button class="btn btn-danger author-remove-btn" type="button" disabled>Kaldır</button>
                    </div>
                </div>
                <!-- end new author row -->
            </div>
        </div>
        <div class="row mb-3 border border-secondary border-3 rounded p-2">
            <label for="bookPublisherSelect" class="form-label">Yayınevi Seç: </label>
            <div class="input-group mb-4">
                <select class="form-select" id="bookPublisherSelect">
                    <option selected value="-1">Mevcut Yayınevleri</option>
                    <option th:each="publisher : ${allPublishers}"
                            th:text="${publisher.name}"
                            th:value="${publisher.explanation}">yazar
                    </option>
                </select>
                <button id="addPublisherFromSelect" class="btn btn-outline-primary" type="button">
                    Yayınevini Ekle
                </button>
            </div>


            <div class="border-top border-secondary border-2 p-2">
                <div class="row mb-1">
                    <div class="col">
                        <label for="addPublisherName" class="form-label">Yayınevi Adı: </label>
                        <input type="text" class="form-control" id="addPublisherName" th:field="*{publisher.name}">
                    </div>
                    <div class="col">
                        <label for="addPublisherExplanation" class="form-label">Yayınevi Açıklaması: </label>
                        <input type="text" class="form-control" id="addPublisherExplanation"
                               th:field="*{publisher.explanation}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="bookExplanation" class="form-label">Kitap Açıklaması: </label>
            <textarea class="form-control" id="bookExplanation" rows="3"
                      th:field="*{explanation}"></textarea>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-lg">Kaydet</button>
        </div>
    </form>
</main>
<script id="jscript" th:src="@{/script/book-script.js}"></script>
</body>
</html>