<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="" th:href="@{/style/main.css}" rel="stylesheet">
    <title>Kitap Güncelle</title>
</head>
<body>
<h1>Kütüphanem</h1>
<div class="container">
    <nav>
        <ul>
            <li><a href="/books">Tüm Kitaplar</a></li>
            <li><a href="/authors">Tüm Yazarlar</a></li>
            <li><a href="/publishers">Tüm Yayınevleri</a></li>
            <li><a href="/books/new">Kitap Ekle</a></li>
            <li><a href="#">Kitap Ara</a></li>
        </ul>
    </nav>
    <main>
        <h2>Kitap Bilgilerini Güncelle:</h2>
        <form method="post" th:object="${bookForUpdate}" th:action="'/books/' + ${bookForUpdate.id} + '/update'">
            <div class="row mb-3">
                <div class="col">
                    <label for="bookTitle" class="form-label">Kitap adı: </label>
                    <input type="text" class="form-control" id="bookTitle"
                           th:field="*{title}" th:value="*{title}">
                </div>
                <div class="col">
                    <label for="bookSubtitle" class="form-label">Kitap alt adı: </label>
                    <input type="text" class="form-control" id="bookSubtitle"
                           th:field="*{subtitle}" th:value="*{subtitle}">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="bookSeries" class="form-label">Kitap Seri Adı: </label>
                    <input type="text" class="form-control" id="bookSeries"
                           th:field="*{series}" th:value="*{series}">
                </div>
                <div class="col">
                    <label for="bookIsbn" class="form-label">ISBN: </label>
                    <input type="text" class="form-control" id="bookIsbn"
                           th:field="*{isbn}" th:value="*{isbn}">
                </div>
            </div>

            <div class="row mb-3">
                <label for="bookAuthorsSelect" class="form-label">Yazar Seçimi: </label>
                <div class="input-group">
                    <select class="form-select" id="bookAuthorsSelect">
                        <option selected>Mevcut Yazarlar</option>
                        <option th:each="author : ${allAuthors}"
                                th:text="${author.fullName}"
                                th:value="${author.explanation}">yazar</option>
                    </select>
                    <button id="addAuthorFromSelect" class="btn btn-outline-primary" type="button">
                        Yazar Listesine Ekle
                    </button>
                </div>
            </div>
            <div id="newAuthorList">
                <!--author row-->
                <div id="lastRow" class="row mb-3" th:each="author, authorStat : ${bookForUpdate.authors}">
                    <div class="col">
                        <label for="addAuthorFullName0" class="form-label">Yazar İsmi: </label>
                        <input type="text" class="form-control" id="addAuthorFullName0"
                               th:field="*{authors[__${authorStat.index}__].fullName}"
                               th:value="${author.fullName}">
                    </div>
                    <div class="col">
                        <label for="addAuthorExplanation0" class="form-label">Yazar Açıklaması: </label>
                        <input type="text" class="form-control" id="addAuthorExplanation0"
                               th:field="*{authors[__${authorStat.index}__].explanation}"
                               th:value="${author.explanation}">
                    </div>
                    <div class="col align-self-end">
                        <button class="btn btn-primary active-add-btn" type="button">Yeni Ekle</button>
                        <button class="btn btn-danger active-remove-btn disabled" type="button">Kaldır</button>
                    </div>
                </div>
                <!--end author row-->
            </div>

            <div class="row mb-3">
                <label for="bookPublisherSelect" class="form-label">Yayınevi Seç: </label>
                <div class="input-group">
                    <select class="form-select" id="bookPublisherSelect">
                        <option selected>Mevcut Yayınevleri</option>
                        <option th:each="publisher : ${allPublishers}"
                                th:text="${publisher.name}"
                                th:value="${publisher.explanation}">yazar</option>
                    </select>
                    <button id="addPublisherFromSelect" class="btn btn-outline-primary" type="button">
                        Yayınevini Ekle
                    </button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="addPublisherName" class="form-label">Yayınevi Adı: </label>
                    <input type="text" class="form-control" id="addPublisherName"
                           th:field="*{publisher.name}" th:value="*{publisher.name}">
                </div>
                <div class="col">
                    <label for="addPublisherExplanation" class="form-label">Yayınevi Açıklaması: </label>
                    <input type="text" class="form-control" id="addPublisherExplanation"
                           th:field="*{publisher.explanation}"
                           th:value="*{publisher.explanation}">
                </div>
            </div>

            <div class="row mb-3">
                <label for="bookExplanation" class="form-label">Kitap Açıklaması: </label>
                <textarea class="form-control" id="bookExplanation" rows="3"
                          th:field="*{explanation}" th:value="*{explanation}"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-lg">Güncelle</button>
            </div>
        </form>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script th:src="@{/script/script.js}"></script>
</body>
</html>