<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template :: placeholder(~{::title}, ~{::main}, ~{::#jscript})}">
<head>
    <title>Tüm Yayınevleri</title>
</head>
<body>
<main class="container mt-5">
    <h2 class="fs-2 pb-2 text-secondary">Tüm Yayınevleri:</h2>
    <div class="shadow p-3 my-5 rounded text-center bg-info"
         th:if="${#lists.isEmpty(allPublishers)}">
        <p class="fs-3 text-dark">Yayınevi kaydı bulunamadı...
        <p>
    </div>
    <table class="table table-striped table-secondary table-hover table-bordered border-dark align-middle mt-3"
           th:unless="${#lists.isEmpty(allPublishers)}">
        <thead class="text-center">
        <tr class="table-dark">
            <th>#</th>
            <th>Yayınevi Adı</th>
            <th>Kitap Sayısı</th>
            <th>Açıklama</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="publisher, publisherStat : ${allPublishers}">
            <td th:text="${publisherStat.index + 1}">1</td>
            <td th:text="${publisher.name}">yayınevi adı</td>
            <td th:text="${#lists.size(publisher.books)}" class="text-center">kitap sayısı</td>
            <td th:text="${publisher.explanation}" style="width: 35%">yayınevi açıklaması</td>
            <td class="text-center" style="width: 25%">
                <a th:id="${publisher.id}"
                   th:class="'btn btn-success show-books-btn ' + ${(#lists.size(publisher.books) == 0)? 'disabled': ''}"
                   href="#" data-bs-toggle="modal" data-bs-target="#bookList">
                    Kitapları</a>
                <a class="btn btn-secondary" th:href="|/publishers/${publisher.id}/update|">Güncelle</a>
                <a th:class="'btn btn-danger ' + ${(#lists.size(publisher.books) > 0)? 'disabled': ''}"
                   th:href="|/publishers/${publisher.id}/delete|">Sil</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="modal fade" tabindex="-1" id="bookList">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Yayınevinin Kitapları:
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul id="modelBookList">

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script id="jscript" th:src="@{/script/publisher-script.js}"></script>
</body>
</html>