<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="" th:href="@{/style/main.css}" rel="stylesheet">
    <title>Yayınevi Güncelle</title>
</head>
<body>
<h1>Kütüphanem</h1>
<div class="container">
    <nav>
        <ul>
            <li><a href="/books">Tüm Kitaplar</a></li>
            <li><a href="/authors">Tüm Yazarlar</a></li>
            <li><a href="/publishers">Tüm Yayınevleri</a></li>
            <li><a href="/books/new">Kitap Ekle</a></li>
            <li><a href="#">Kitap Ara</a></li>
        </ul>
    </nav>
    <main class="bg-body p-3 mb-5 shadow rounded">
        <h2 class="bg-secondary rounded p-2 text-light">Yayınevi Bilgilerini Güncelle:</h2>
        <form method="post" th:object="${publisherForUpdate}"
              th:action="'/publishers/' + ${publisherForUpdate.id} + '/update'">
            <div class="row my-4">
                <div class="col">
                    <label for="publisherName" class="form-label">Yayınevi adı: </label>
                    <input type="text" class="form-control" id="publisherName"
                           th:field="*{name}" th:value="*{name}">
                </div>
                <div class="col">
                    <label for="publisherExp" class="form-label">Yayınevi açıklaması: </label>
                    <input type="text" class="form-control" id="publisherExp"
                           th:field="*{explanation}" th:value="*{explanation}">
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>
        </form>
    </main>
</div>
</body>
</html>