<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Kütüphanem</title>
</head>
<body>
    <h1>Kütüphanem</h1>
    <div class="container">
        <nav class="menu">
            <ul>
                <li><a href="/">Tüm Kitaplar</a></li>
                <li><a href="/books/new">Kitap Ekle</a></li>
                <li><a href="#">Kitap Ara</a></li>
            </ul>
        </nav>
        <main class="content">
            <table>
                <thead>
                <tr>
                    <th>Kitap Adı</th>
                    <th>Yazarı</th>
                    <th>Yayınevi</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td>
                        <span th:text="${book.title}">kitap adı</span><br>
                        <span style="font-style: italic" th:text="${book.subtitle}">alt ad</span>
                    </td>
                    <td>
                        <div th:each="author : ${book.authors}">
                            <span th:text="${author.fullName}">yazar</span>
                        </div>
                    </td>
                    <td th:text="${book.publisher.name}">yayınevi</td>
                    <td>
                        <button>Detay</button>
                        <button>Güncelle</button>
                        <button>Sil</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>